# Binaries
bin/
*.exe

# Databases
*.db
*.db-journal

# Local config
config.yaml
.env

# Python leftovers
venv/
__pycache__/
*.pyc

# Logs
*.log

# OS
.DS_Store

# IDE
.idea/

# Personal notes
_caderno/

# Accidental redirects
/embed